modules = ["nodejs-20", "web", "java-graalvm22.3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick", "ffmpeg"]

[deployment]
deploymentTarget = "gce"
build = ["sh", "-c", "npm install && npm run build:full"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33033

[[ports]]
localPort = 33449

[[ports]]
localPort = 36945
externalPort = 5000

[[ports]]
localPort = 37489

[[ports]]
localPort = 40321
externalPort = 3001

[[ports]]
localPort = 40725

[[ports]]
localPort = 40979
externalPort = 3000

[[ports]]
localPort = 41507

[[ports]]
localPort = 41975

[[ports]]
localPort = 42485

[[ports]]
localPort = 43789

[[ports]]
localPort = 44599

[[ports]]
localPort = 44817

[[ports]]
localPort = 45053

[[ports]]
localPort = 45121

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:1.0.0", "javascript_websocket:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VITE_FIREBASE_VAPID_KEY = "YEyfKS6BncFnkJyzoJ12VwxsJZPeP0YDBu_94PuUAzM"
VITE_FIREBASE_API_KEY = "AIzaSyBo2TCzYfiQhML2bGH28a9ilMUVnu0ZepA"
VITE_FIREBASE_MESSAGING_SENDER_ID = "375153203002"
VITE_FIREBASE_APP_ID = "1:375153203002:web:dd173c04e3f2304c372203"
SUPABASE_WEBHOOK_SECRET = "228c9e1a12aefa0f828a193b6a819abb21492ddb416ccdada5ba0e1bf1f1118d"
